*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

body {
    text-align: center;
    position: relative;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
}

#nav_bar {
    display: flex;
    padding: 20px 15px;
}

#nav_bar {
    display: flex;
    align-items: center;
}

#nav_bar .nav-links {
    margin: 0 0.3rem;
}

#sign_in {
    color: white;
    background-color: #4083ee;
    padding: 8px 15px;
    border-radius: 3px;
}

.google-image {
    margin: 8rem 0 2rem 0;
}

#form-search {
    padding: 10px;
    margin: 20px 0;
    border-radius: 50px;
    border: 2px solid #eeeeee;
}

#form-search:hover, #form-search:focus {
    border: 2px solid #73777c;
}

button {
    padding: 2px 8px;
}

.footer-left .footer-right {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right:0;
    background-color: #F2F2F2;
    padding: 20px;
    border-top: 2px solid #DADCE0;
}

.footer-left li, .footer-right li {
    display: inline-block;
    margin: 0 10px;
    color: #73777c;
}

#footer-left {
    display: block;
    text-align: left;
    float: left;
    width: 50%;
}

.footer-right {
    display: block;
    text-align: right;
}
